@{
    ViewData["Title"] = "Gestión médica";
}

<div class="text-center">
    <h1 class="display-4">Gestión médica</h1>
    <p>Aplicación para gestionar una clínica de especialidades médicas.</p>
</div>

