@model Backend.Models.EquipoViewModel

@{
    ViewData["Title"] = "Gestión de Equipo Médico";
}

<h1>Agregar Equipo</h1>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreEspecialidad" class="control-label"></label>
                <select asp-for="IdEspecialidad" class="form-control" asp-items="@Model.ListaEspecialidad">
                    <option value="">Seleccione la Especialidad</option>
                </select>
                <span asp-validation-for="IdEspecialidad" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
