@model IEnumerable<_3101_proyecto1.Models.ReporteConsultorioViewModel>

@{
    ViewData["Title"] = "Reportes";
}

<h1>Reporte de Consultorios</h1>
<hr />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroConsultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecialidad)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroConsultorio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEspecialidad)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index">Regresar</a>
<br />
<a asp-action="DescargaConsultorios">Descargar Reporte</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
