@model _3101_proyecto1.FrontEnd.Models.CitumViewModel

@{
    ViewData["Title"] = "Nueva Cita";
}

<h2>Nueva Cita - Inicio</h2>
@if (ViewBag.mensaje != null)
{
    <div class="text-danger"><h5>@ViewBag.mensaje</h5></div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create1">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPaciente" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger" />
            </div>
            <div class="form-group">
                <input type="submit" value="Siguiente" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancelar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

