@model Backend.Models.EspecialidadViewModel

@{
    ViewData["Title"] = "Gestión de Especialidades";
}

<h1>Eliminar Especialidad</h1>
@if (ViewBag.mensaje != null)
{
    <h4 class="danger">@ViewBag.mensaje</h4>
}

<h3>Confirmación</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
